@import "../../../styles/settings.scss";

.component {
  background: $color-light;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: $base-unit * 0.5;
  z-index: 3;
  transform: translateY(50%);
  @extend%primary-shadow;
  @extend%border-gradient;

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
