@import "../../../styles/settings.scss";

.component {
  position: relative;
  width: $base-unit * 7;
  height: $base-unit * 7;
  padding: $base-unit;
  border: $base-unit solid $color-border;
  border-radius: 50%;
  background-color: red;
  margin-left: $base-unit * 7;

  @include p-el("before") {
    left: 50%;
    top: -$base-unit * 10;
    display: inline-block;
    background: $color-border;
    height: $base-unit * 10;
    width: $base-unit * 0.15;
    transform: translateX(-50%);
    z-index: 0;
  }
}
