@import "./mixin.scss";

$color-light: #fff;
$color-border: #c9cdd7;
$color-text: #4b597b;
$color-primary: #a576f4;
$color-secondary: #7176f7;
$color-success-light: #8df4a1;
$color-success-dark: #28e7e7;
$color-warning-light: #f97298;
$color-waring-dark: #f34f69;

$font-logo: "Montserrat", sans-serif;
$font-header: "Roboto", sans-serif;
$font-text: "Source Sans Pro", sans-serif;

$base-unit: 1rem * 1.25;

$radius: $base-unit * 0.25;
$transition: all 0.5s;

$fw-regular: 400;
$fw-bold: 700;

$br-mobile: 360px;
$br-tablet: 768px;
$br-desktop: 1200px;

//shape

%shape {
  content: "";
  width: 70vw;
  height: 45vw;
  z-index: -1;
  opacity: 0.15;
}

//primary box shadow

%primaryShadow {
  box-shadow: 0 $base-unit * 0.2 $base-unit * 0.4 0 rgba(165, 118, 244, 0.1),
    0 $base-unit * 0.3 $base-unit 0 rgba(165, 118, 244, 0.1);
}

//fadeIn animation

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
