@import "../../../styles/settings.scss";

.component {
  padding: $base-unit * 0.5 $base-unit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  z-index: 3;
  background: $color-light;
  @extend%item-border;

  @include max-media($br-tablet) {
    width: 100%;
  }
}
