@import "../../../styles/settings.scss";

.title {
  font-size: $base-unit * 4;
  margin-bottom: $base-unit * 8;
  font-family: $font-header;
  letter-spacing: 0;
}

.subtitle {
  font-size: $base-unit * 2;
  margin: $base-unit * 3;
}
