@import "../../../styles/settings.scss";

.component {
  width: 100%;
  margin-bottom: $base-unit * 3.75;
  padding-left: $base-unit * 3;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @include max-media($br-tablet) {
    flex-direction: column;
    margin-bottom: $base-unit * 2;
    padding-left: 0;
  }
}
