@import "../../../styles/settings.scss";

.component {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-unit * 2 $base-unit * 2.5;
  width: 65%;
  border-radius: $base-unit * 0.5;
  background: $color-light;
  @extend%primary-shadow;
  @extend%border-gradient;

  .large {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: $base-unit;
    background: $color-light;

    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $base-unit * 2.5;
      padding-right: $base-unit;
      border-right: $base-unit * 0.15 solid transparent;

      .border {
        width: 85%;
        padding: $base-unit * 0.5 $base-unit;
        z-index: 2;
        background: $color-light;
        @extend%item-border;
      }
    }
  }
}
