@import "../../../styles/settings.scss";

.component {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $base-unit * 2.5;
  height: 100%;
  width: 65%;
  border-radius: $base-unit * 0.5;
  background: $color-light;
  @extend%primary-shadow;

  @include p-el("before") {
    left: 0;
    top: 0;
    display: inline-block;
    width: $base-unit;
    height: 100%;
    border-radius: $base-unit * 0.5 0 0 $base-unit * 0.5;
    @extend%primary-gradient;
  }
}
