@import "../../../styles/settings.scss";

.component {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-unit * 2 $base-unit * 2.5;
  width: 65%;
  border-radius: $base-unit * 0.5;
  background: $color-light;
  @extend%primary-shadow;

  @include p-el("before") {
    left: 0;
    top: 0;
    display: inline-block;
    width: $base-unit;
    height: 100%;
    border-radius: $base-unit * 0.5 0 0 $base-unit * 0.5;
    @extend%primary-gradient;
  }

  .large {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: $base-unit;

    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .border {
        border: $base-unit * 0.15 solid $color-border;
        border-radius: $base-unit * 0.4;
        width: 85%;
        padding-left: $base-unit * 2;
      }
    }
  }
}
