@import "../../../styles/settings.scss";

.component {
  margin: 0 auto;
  padding: $base-unit*7;
  width: 80%;
  background: $color-light;
  max-width: $base-unit * 77;
  border-radius: $base-unit * 0.5;
  @extend%primaryShadow;
}
